<html>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="/optionsjs/optchart.js"></script>
<script>
	//obj = { table: "customers", limit: 20 };
	//dbParam = JSON.stringify(obj);
	startRefreshTimer();
	console.log('start')

	function startRefreshTimer() {
		var datetime = new Date();
		var mins = datetime.getMinutes();
		var secs = datetime.getSeconds();

		if(mins%5 === 0 && secs > 30) {
			console.log('refreshing at + ' + mins + ':' + secs + 'in 30s')
			refreshPage(30000);
		} else {
			var fwd = Math.max((5 - mins%5)%5 * 60000, 30000);
			console.log('not refreshing at ' + mins + ':' + secs + '. Check back in ' + fwd/1000)
			setTimeout(startRefreshTimer, fwd);
		}		
	}

	function refreshPage(time) {
		setTimeout(function() {
			window.location.reload();
		}, time ? time : 10000);
	}

	function getLatestData() {
		document.getElementById("refresher").hidden="hidden";
		document.getElementById("msg").innerHTML = "Loading in 10s....";
		let xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			refreshPage();
		}
		
		xmlhttp.onerror = function() {
			console.log('error');
		}

		xmlhttp.open("GET", "/options");
		xmlhttp.setRequestHeader("Content-type", "application/json");
		xmlhttp.send();
	}
</script>
	<body>
		Only for Nearest Weekly Options -- 
		<div id="instrument">NIFTY</div>
		<a href="#" onclick="changeInstrument()">Switch</a>
		<div id="my_dataviz"></div>
		<div id="refresher"><a href="#" onclick="getLatestData()">Get Latest Data</a> </div>
		<div id="msg"></div>
		<div id="demo">
		</div>
	</body>
</html>